.font-allura {
  font-family: 'Allura', cursive;
}

.font-arizonia {
  font-family: 'Arizonia', cursive;
}

.font-libre {
  font-family: 'Libre Baskerville', serif;
}

.font-1p5rem {
  font-size: 1.5rem !important;
}

.font-2rem {
  font-size: 2rem !important;
}

.font-3rem {
  font-size: 3rem !important;
}

.font-4rem {
  font-size: 4rem !important;
}

.font-6rem {
  font-size: 6rem !important;
}

.color-cadetblue {
  color: cadetblue;
}

.pasem-min {
  background: -webkit-linear-gradient(#000, #009dff, #fe0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pasem-hmanthlak img {
  max-height: 400px;
}

.tuanbia {
  max-width: 1000px;
}

.tuanbia h2,
.tuanbia p {
  font-family: 'Libre Baskerville', serif
}
